name: Generate Pacman Contribution Graph

on:
  schedule:
    - cron: "0 */24 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  generate:
    runs-on: ubuntu-latest
    steps:
      - name: Generate Pacman
        uses: abozanona/pacman-contribution-graph@main
        with:
          username: pr1t4m-d3y
          theme: github-dark
